{% extends "notification/base.html" %}

{% block content %}

<h2>Test SMS Alert</h2>

{% if message_sent %}
    <div class="alert alert-success">
        {{ message_sent }}
    </div>
{% endif %}

<form method="post" class="w-50 mt-3">
    {% csrf_token %}

    <label class="form-label">Phone Number</label>
    <input type="text" name="phone" class="form-control" placeholder="numbers only">

    <label class="form-label mt-3">Carrier</label>
    <select name="carrier" class="form-control">
        <option value="">Select Carrier</option>
        <option value="att">AT&amp;T</option>
        <option value="verizon">Verizon</option>
        <option value="tmobile">T-Mobile</option>
        <option value="sprint">Sprint</option>
        <option value="boost">Boost</option>
        <option value="cricket">Cricket</option>
        <option value="googlefi">Google Fi</option>
        <option value="us mobile">US Mobile</option>
    </select>

    <label class="form-label mt-3">Message</label>
    <textarea name="message" rows="3" class="form-control"></textarea>

    <button class="btn btn-primary mt-3">Send SMS</button>
</form>

{% endblock %}